<div class="footer">
  <ul class="list-inline">

    <li>
    <% link_to "http://www.facebook.com" do %>
      <i class="fa fa-facebook""></i>
    <% end %>
    </li>

    <li>
    <% link_to "http://www.youtube.com" do %>
      <i class="fa fa-youtube""></i>
    <% end %>
    </li>

    <li>
    <% link_to "http://www.instagram.com" do %>
      <i class="fa fa-instagram""></i>
    <% end %>
    </li>

    <li>
    <% link_to "http://www.twitter.com" do %>
      <i class="fa fa-twitter""></i>
    <% end %>
    </li>


    <p>Claudia's Airbnb Challenge</p>

  </ul>
</div>


