<ul class="list-inline text-center">
  <% ["nicolas", "sauwai", "leore"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", width: "100px", class: "img-circle" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
